.user-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: whitesmoke;
  margin-right: 10px;
}

.message {
  display: flex;
  padding: 16px;
  align-items: flex-start;
  border-top: 2px solid #42454a;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: rgb(66, 69, 74);
}

.hr-bar {
  border-top: 2px solid #42454a;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: rgb(66, 69, 74);
}

.message-content {
  flex: 1 1 auto;
}

.post-time {
  color: gray;
  font-size: 13px;
  padding-left: 4px;
}

.user-name {
  color: white;
}

.message-msg {
  color: rgba(255, 255, 255, 0.85);
}